doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    nav
        if (!user)
            a(href='/login') Login 
            | | 
            a(href='/register') Register
        else
            a(href='/users') Users
            | |
            a(href='/logout') Logout
    block content